<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vk-hosting-config.json" type="text/javascript"></script>
    <script src="https://unpkg.com/@vkontakte/vk-bridge/dist/browser.min.js"></script>
   
    <script>
  vkBridge.send('VKWebAppInit');
    </script>  


        <link rel="stylesheet" href="./style.css">
    <title>Comments app - VueJs</title>
    

</head>

<body>
    <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            template: `
                <div class="container">
                    <h1>Затраты на стройку</h1>
                    <hr />

                    <div class="form-group">
                        <p>
                            <input type="text" name="author" placeholder="Название" class="form-control" v-model="name">
                        </p>
                        <p>
                            <input type="text" name="gold" placeholder="Количество" class="form-control" v-model="gold">
                        </p>
                        <p>
                            <input placeholder="Стоимость" name="message" class="form-control" v-model="message"></input>
                        </p>
                        <p>
                            <button type="submit" class="btn btn-primary" v-on:click="addComment">Добавить заметку</button>
                        </p>
                        <span style="display: none;" id="errorMessage"></span>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item" v-for="(comment, index) in allComments">
                            <span class="comment__author">
                                Товар: <strong>{{ comment.name }}</strong>
                            </span>
                            <div></div>                            
                            <span class="comment__gold">
                                Кол-во: <strong>{{ comment.gold }}</strong>
                            </span>
                            <div></div>
                            <span class="comment__message">
                                Цена: <strong>{{ comment.message }}</strong>
                            </span>
                            

                            <div>
                                <a href="#" 
                                    title="Удалить" 
                                    v-on:click.prevent="removeComment(index)"
                                    >Удалить
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            `,
            data() {
                return {
                    comments: [],
                    name: '',
                    message: '',
                    gold: ''
                }
            },
            methods: {
                addComment() {
                    let errorMsg = document.getElementById('errorMessage');

                    if (this.message.trim() === '') {
                        errorMsg.style.display = "block";
                        errorMsg.style.color = "red";
                        errorMsg.innerHTML = "Ничего не написанно";
                        return;
                    }

                    this.comments.push({
                        name: this.name,
                        message: this.message,
                        gold: this.gold
                    });

                    this.name = '';
                    this.message = '';
                    this.gold = '';
                    errorMsg.style.display = "none";
                },
                removeComment(index) {
                    this.comments.splice(index, 1);
                }
            },
            computed: {
                allComments() {
                    return this.comments.map(comment => ({
                        ...comment,
                        name: comment.name.trim() === '' ? '' : comment.name
                    }));
                }
            }
        })
    </script>
</body>

</html>
